version: '3.1'
secrets:
  os_admin:
    file: ./secrets/adminsecret.env
  os_user:
    file: ./secrets/usersecret.env
services:
  server:
    image: openslides:latest
    # Below is the default command.  You can uncomment it to override the
    # number of workers, for example:
    # command: "gunicorn -w 8 --preload -b 0.0.0.0:8000
    #   -k uvicorn.workers.UvicornWorker openslides.asgi:application"
    #
    # Uncomment the following line to use daphne instead of gunicorn:
    # command: "daphne -b 0.0.0.0 -p 8000 openslides.asgi:application"
    restart: always
    volumes:
      - "personaldata:/app/personal_data"
    depends_on:
      - postfix
      - pgpool2
      - redis
      - rediscache
      - prioserver
    networks:
      - front
      - back
    sysctls:
      net.core.somaxconn: 1024
      net.ipv4.ip_local_port_range: 1024 60999
    environment:
      # With this variable set this service will not attempt to prepare the
      # instance by, e.g., running migations.  This is exclusively left up to
      # the main service to avoid conflicts.
      - SERVER_IS_SECONDARY=1
  prioserver:
    # This service is basically a simple copy of the main server service
    # (above).  It will share all the same resources (e.g., DB, Redis)
    # as the main server, so it is crucial that it is always kept at
    # compatible versions.
    image: openslides:latest
    command: "gunicorn -w 1 --preload -b 0.0.0.0:8000
      -k uvicorn.workers.UvicornWorker openslides.asgi:application"
    restart: always
    volumes:
      - "personaldata:/app/personal_data"
      - "staticfiles:/app/openslides/static"
    depends_on:
      - postfix
      - pgpool2
      - redis
      - rediscache
    networks:
      - front
      - back
    secrets:
      - os_admin
      - os_user
  redis:
    image: redis:alpine
    restart: always
    volumes:
      - "redisdata:/data"
    networks:
      - back
  rediscache:
    image: redis:alpine
    restart: always
    command: ["redis-server", "--save", ""]
    networks:
      - back
  rediscache-slave:
    image: redis:alpine
    restart: always
    command: ["redis-server", "--save", "", "--slaveof", "rediscache", "6379"]
    networks:
      - back
  client:
    image: openslides-proxy:latest
    build: ./client
    restart: always
    volumes:
      - "staticfiles:/usr/share/nginx/html"
    depends_on:
      - server
    networks:
      - front
    ports:
      - "127.0.0.1:61000:80"
  postfix:
    build: ./postfix
    image: openslides-postfix:latest
    restart: always
    environment:
      - MYHOSTNAME=localhost
      - RELAYHOST=localhost
    networks:
      - back
  pg_node1:
    environment:
      - REPMGR_NODE_ID=1
    image: openslides-repmgr:latest
    build: ./repmgr
    restart: always
    networks:
      - back
    volumes:
      - "dbdata:/var/lib/postgresql"
  pg_node2:
    environment:
      - REPMGR_NODE_ID=2
    image: openslides-repmgr:latest
    build: ./repmgr
    restart: always
    networks:
      - back
  pg_node3:
    environment:
      - REPMGR_NODE_ID=3
    image: openslides-repmgr:latest
    build: ./repmgr
    restart: always
    networks:
      - back
  pgpool2:
    environment:
      - PG_NODE_LIST=pg_node1:0,pg_node2:1,pg_node3:2
    image: openslides-pgpool2:latest
    build: ./pgpool2
    restart: always
    networks:
      back:
        aliases:
          - db
          - postgres

volumes:
  dbdata:
  personaldata:
  redisdata:
  staticfiles:
networks:
  front:
  back:

# vim: set ft=yaml sw=2 et:
