version: '3'
services:
  server:
    build:
      context: ./server
      args:
        # Change according to your details
        REPOSITORY_URL: https://github.com/OpenSlides/OpenSlides.git
        GIT_CHECKOUT: 6eea0648627d15996f9701ff5183714b8eb8b90a
    image: os-server
    # By default, daphne is run as command.  Uncomment the command below to use
    # gunicorn instead:
    # command: "gunicorn -w 4 -b 0.0.0.0:8000 -k uvicorn.workers.UvicornWorker
    #   openslides.asgi:application"
    restart: always
    volumes:
      - "personaldata:/app/personal_data"
      - "staticfiles:/app/openslides/static"
    networks:
      - front
      - back
  redis:
    image: redis:alpine
    restart: always
    volumes:
      - "redisdata:/data"
    networks:
      - back
  client:
    image: nginx
    restart: always
    volumes:
      - "staticfiles:/usr/share/nginx/html"
      - "./client/nginx.conf:/etc/nginx/nginx.conf"
    depends_on:
      - server
    networks:
      - front
    ports:
      - "127.0.0.1:61000:80"
  postgres:
    image: sameersbn/postgresql:10
    restart: always
    volumes:
      - "dbdata:/var/lib/postgresql"
    environment:
      - DB_USER=openslides
      - DB_PASS=openslides
      - DB_NAME=openslides
    networks:
      - back
  postfix:
    build: ./postfix
    image: postfix
    restart: always
    environment:
      - maildomain=localhost
      - smtp_user=openslides:openslides
    networks:
      - back
volumes:
  dbdata:
  personaldata:
  redisdata:
  staticfiles:
networks:
  front:
  back:
